.joke-container {
    height: 200px;
    position: relative;
    margin-top: 0px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}

.chuck {
    box-shadow: 10px 10px 5px rgb(153, 153, 153);
    width: 150px;
}

.joke {
    text-align: center;

}